@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/neue_montreal/thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/neue_montreal/medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/neue_montreal/bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/neue_montreal/italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/neue_montreal/semiBolditalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

:root {
  --background-color: hsl(0, 0%, 90%);
  --font-color: hsl(0, 0%, 10%);
  --padding: max(20px, 4vmin);
}

* {
  background-color: var(background-color);
  color: var(font-color);
  font-family: 'NeueMontreal', Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
  margin: 0;
  padding: 0;
  
  &::selection {
    background-color: #f5f2d5;
  }
}
