@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/neue_montreal/thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/neue_montreal/medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/neue_montreal/bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/neue_montreal/italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/neue_montreal/semiBolditalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

:root {
  --black: hsl(0, 0%, 10%);
  --white: hsl(0, 0%, 90%);
  --light-black: hsla(0, 0%, 10%, 0.5);
  --light-white: hsla(0, 0%, 90%, 0.5);
  --highlight-color: #f5f2d5;
  --padding: max(20px, 4vmin);
  --success-bg: #dfe6da;
  --success-font-color: #758467;
  --error-bg: #e3cbbf;
  --error-font-color: #8b2729;
}

* {
  font-family: 'NeueMontreal', Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
  margin: 0;
  padding: 0;

  &::selection {
    background-color: var(--highlight-color);
  }
}
